<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
<!-- 		<property name="prefix" value="/WEB-INF/jsp/" /> -->
		<property name="suffix" value=".jsp" />
		<property name="order" value="10" />
	</bean>
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size ini bytes  -->
		<property name="maxUploadSize" value="100000"/>
	</bean>	
	<bean name="/index.htm"
		class="org.sakaiproject.trainingsupport.tool.TrainingController"
		init-method="init" >
		<property name="projectLogic" ref="org.sakaiproject.trainingsupport.logic.ProjectLogic"/>
	</bean>
	
	<bean name="/jobtitle.htm"
		class="org.sakaiproject.trainingsupport.tool.TrainingJobtitleController"
		init-method="init" >
		<property name="projectLogic" ref="org.sakaiproject.trainingsupport.logic.ProjectLogic"/>
	</bean>
	
	<bean name="/statusUpdate.htm"
		class="org.sakaiproject.trainingsupport.tool.TrainingStatusUpdateController"
		init-method="init" >
		<property name="projectLogic" ref="org.sakaiproject.trainingsupport.logic.ProjectLogic"/>
	</bean>

	<bean name="/totalize.htm"
		class="org.sakaiproject.trainingsupport.tool.TrainingStatusTotalController"
		init-method="init" >
		<property name="projectLogic" ref="org.sakaiproject.trainingsupport.logic.ProjectLogic"/>
	</bean>

	<bean name="/allTotalize.htm"
		class="org.sakaiproject.trainingsupport.tool.TrainingStatusAllTotalController"
		init-method="init" >
		<property name="projectLogic" ref="org.sakaiproject.trainingsupport.logic.ProjectLogic"/>
	</bean>

	<bean name="/section.htm"
		class="org.sakaiproject.trainingsupport.tool.TrainingSectionController"
		init-method="init" >
		<property name="projectLogic" ref="org.sakaiproject.trainingsupport.logic.ProjectLogic"/>
	</bean>
	<bean name="/fileupload.htm"
		class="org.sakaiproject.trainingsupport.tool.TrainingSectionFileUploadController"
		init-method="init" >
		<property name="projectLogic" ref="org.sakaiproject.trainingsupport.logic.ProjectLogic"/>
	</bean>

	<bean name="/statusEdit.htm"
		class="org.sakaiproject.trainingsupport.tool.TrainingStatusEditController"
		init-method="init" >
		<property name="projectLogic" ref="org.sakaiproject.trainingsupport.logic.ProjectLogic"/>
	</bean>
</beans>
